<h1>Tiny App</h1>
    <% if(locals.user) { %>
        <form action="/logout" method="POST">
            <a href="/urls">Home</a>
            <a href="/urls/new">New Url</a>
            <label><%=user.email%><label>
            <input type="submit" value="Logout">

        </form>
    <% } else { %>
            <% //console.log(locals) %>
            <a href="/register" style="margin:10px;">Sign Up</a>
    <% } %>
