<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <h1>Tyni App</h1>
  <a href="/urls">Home</a>
</head>
<body style="font-size:20px; padding:50px;">
    </br></br>
    <label style="font-size:30px;">ShortURL: <label>
    <label><%=shortURL%></label>
    </br>
    <label>Total visitors:<%=total%> - Unique visitors:<%=usersVisited%></label>
    <form action="/urls/<%= shortURL %>/update?_method=PUT" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
</body>
</html>