<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <%include ../views/partials/_header%>
</head>
<body style="font-size:20px; padding:50px;">
    <h1>ShortURL: <h1><h2><%=shortURL%></h2>
    <form action="/urls/<%= shortURL %>/update" method="POST" style="margin:150px;">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
</body>
</html>