<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <%include ../views/partials/_header%>
</head>
<body style="font-size:20px; padding:50px;">
    </br></br>
    <label style="font-size:30px;">ShortURL: <label>
    <label><%=shortURL%></label>
    <form action="/urls/<%= shortURL %>/update" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
</body>
</html>